doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/socket.io.js")
  body
    header        
      form#loginForm(method='post' action='/users/login')
        if !user
          p Please login or go register.
          input#uid(type='text' name='uid' required placeholder="Email")
          input(type='password' name='password' minlength='6' required placeholder="Password")
          button.button(type='submit') Login
          if errors != undefined && errors.length != 0
            each error in errors
              div.error-msg(role='alert' id='a1') #{error.msg}
          if success_msg != ''
            div(role='alert' id='a2') #{success_msg}
          if error_msg != ''
            div.error-msg(role='alert' id='a3') #{error_msg}
          if error != ''
            div.error-msg(role='alert' id='a4') #{error}
      nav
        ul
          if !user
            li
              a(href='/users/register') Register
          if user
            li
              a(href='/game') Enter the game
            li
              a(href='/news') News
            li
              a(href='/users/logout') Log out
    block content